body{
	text-align:center;
	font-family: Calibri Bold, 'Lucida Sans Unicode';
}
header{
	height:100px;
	width:98.45%;
	z-index:10;
	position:fixed;
	background-color:#707070;
}

#banner{
	width:98.45%;
	height:315px;
	position:fixed;
	top:100px;
	background-image:url(image.jpg);
	background-size:cover;
}
#content{
	width:100%;
	position:relative;
	top:315px;
	background-color:#ebebeb;
	height:1500px;
}